body
{
    background-color: #212121;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
}

h1.title
{
    text-align: center;
    font-size: 7.056mm;
    margin-top: 20px;
    padding-top: 50px;
}

.profile-pic
{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    padding: 70px;
}

ul.nav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    padding-top: 70px;
    padding-left: 30px;
}

.box-top
{
    background: #565656;
    width: 500.28px;
    height: 40px;
    display: flex;
    flex-direction: column;
}